<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PessoasCreateDlg" widgetVar="PessoasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePessoasTitle}">
            <h:form id="PessoasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pessoasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePessoasLabel_idpessoa}" for="idpessoa" />
                        <p:inputText id="idpessoa" value="#{pessoasController.selected.idpessoa}" title="#{bundle.CreatePessoasTitle_idpessoa}" required="true" requiredMessage="#{bundle.CreatePessoasRequiredMessage_idpessoa}"/>
                        <p:outputLabel value="#{bundle.CreatePessoasLabel_cep}" for="cep" />
                        <p:inputText id="cep" value="#{pessoasController.selected.cep}" title="#{bundle.CreatePessoasTitle_cep}" />
                        <p:outputLabel value="#{bundle.CreatePessoasLabel_logradouro}" for="logradouro" />
                        <p:inputText id="logradouro" value="#{pessoasController.selected.logradouro}" title="#{bundle.CreatePessoasTitle_logradouro}" />
                        <p:outputLabel value="#{bundle.CreatePessoasLabel_nomesocial}" for="nomesocial" />
                        <p:inputText id="nomesocial" value="#{pessoasController.selected.nomesocial}" title="#{bundle.CreatePessoasTitle_nomesocial}" />
                        <p:outputLabel value="#{bundle.CreatePessoasLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{pessoasController.selected.nome}" title="#{bundle.CreatePessoasTitle_nome}" />       
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pessoasController.create}" value="#{bundle.Save}" update="display,:PessoasListForm:datalist,:growl" oncomplete="handleSubmit(args,'PessoasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PessoasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
