<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PessoasEditDlg" widgetVar="PessoasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPessoasTitle}">
            <h:form id="PessoasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pessoasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPessoasLabel_idpessoa}" for="idpessoa" />
                        <p:inputText id="idpessoa" value="#{pessoasController.selected.idpessoa}" title="#{bundle.EditPessoasTitle_idpessoa}" required="true" requiredMessage="#{bundle.EditPessoasRequiredMessage_idpessoa}"/>
                        <p:outputLabel value="#{bundle.EditPessoasLabel_cep}" for="cep" />
                        <p:inputText id="cep" value="#{pessoasController.selected.cep}" title="#{bundle.EditPessoasTitle_cep}" />
                        <p:outputLabel value="#{bundle.EditPessoasLabel_logradouro}" for="logradouro" />
                        <p:inputText id="logradouro" value="#{pessoasController.selected.logradouro}" title="#{bundle.EditPessoasTitle_logradouro}" />
                        <p:outputLabel value="#{bundle.EditPessoasLabel_nomesocial}" for="nomesocial" />
                        <p:inputText id="nomesocial" value="#{pessoasController.selected.nomesocial}" title="#{bundle.EditPessoasTitle_nomesocial}" />
                        <p:outputLabel value="#{bundle.EditPessoasLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{pessoasController.selected.nome}" title="#{bundle.EditPessoasTitle_nome}" />            
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pessoasController.update}" value="#{bundle.Save}" update="display,:PessoasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PessoasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PessoasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
