<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Pessoas"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PessoasListForm">
                <p:panel header="Pessoas">
                    <p:dataTable id="datalist" value="#{pessoasController.items}" var="item"
                                 selectionMode="single" selection="#{pessoasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idpessoa}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Código"/>
                            </f:facet>
                            <h:outputText value="#{item.idpessoa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="CEP"/>
                            </f:facet>
                            <h:outputText value="#{item.cep}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Logradouro"/>
                            </f:facet>
                            <h:outputText value="#{item.logradouro}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nome social"/>
                            </f:facet>
                            <h:outputText value="#{item.nomesocial}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nome"/>
                            </f:facet>
                            <h:outputText value="#{item.nome}"/>
                        </p:column>        
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="Adicionar" actionListener="#{pessoasController.prepareCreate}" update=":PessoasCreateForm" oncomplete="PF('PessoasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="Visualizar" update=":PessoasViewForm" oncomplete="PF('PessoasViewDialog').show()" disabled="#{empty pessoasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":PessoasEditForm" oncomplete="PF('PessoasEditDialog').show()" disabled="#{empty pessoasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Excluir" actionListener="#{pessoasController.destroy}" update=":growl,datalist" disabled="#{empty pessoasController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
