<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PessoasViewDlg" widgetVar="PessoasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="Pessoas">
            <h:form id="PessoasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pessoasController.selected != null}">
                        <h:outputText value="Código"/>
                        <h:outputText value="#{pessoasController.selected.idpessoa}" title="Código"/>
                        <h:outputText value="CEP"/>
                        <h:outputText value="#{pessoasController.selected.cep}" title="CEP"/>
                        <h:outputText value="Logradouro"/>
                        <h:outputText value="#{pessoasController.selected.logradouro}" title="Logradouro"/>
                        <h:outputText value="Nome social"/>
                        <h:outputText value="#{pessoasController.selected.nomesocial}" title="Nome social"/>
                        <h:outputText value="Nome"/>
                        <h:outputText value="#{pessoasController.selected.nome}" title="Nome"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PessoasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
