<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FuncionariosCreateDlg" widgetVar="FuncionariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateFuncionariosTitle}">
            <h:form id="FuncionariosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{funcionariosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateFuncionariosLabel_idpessoa}" for="idpessoa" />
                        <p:inputText id="idpessoa" value="#{funcionariosController.selected.idpessoa}" title="#{bundle.CreateFuncionariosTitle_idpessoa}" required="true" requiredMessage="#{bundle.CreateFuncionariosRequiredMessage_idpessoa}"/>
                        <p:outputLabel value="#{bundle.CreateFuncionariosLabel_dtadmissao}" for="dtadmissao" />
                        <p:calendar id="dtadmissao" pattern="MM/dd/yyyy HH:mm:ss" value="#{funcionariosController.selected.dtadmissao}" title="#{bundle.EditFuncionariosTitle_dtadmissao}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateFuncionariosLabel_cargo}" for="cargo" />
                        <p:inputText id="cargo" value="#{funcionariosController.selected.cargo}" title="#{bundle.CreateFuncionariosTitle_cargo}" />
                        <p:outputLabel value="#{bundle.CreateFuncionariosLabel_pessoas}" for="pessoas" />
                        <p:selectOneMenu id="pessoas" value="#{funcionariosController.selected.pessoas}" required="true" requiredMessage="#{bundle.EditFuncionariosRequiredMessage_pessoas}">
                            <f:selectItems value="#{pessoasController.itemsAvailableSelectOne}"
                                           var="pessoasItem"
                                           itemValue="#{pessoasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{funcionariosController.create}" value="#{bundle.Save}" update="display,:FuncionariosListForm:datalist,:growl" oncomplete="handleSubmit(args,'FuncionariosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FuncionariosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
