<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FuncionariosEditDlg" widgetVar="FuncionariosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Editar funcionário">
            <h:form id="FuncionariosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{funcionariosController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFuncionariosLabel_idpessoa}" for="idpessoa" />
                        <p:inputText id="idpessoa" value="#{funcionariosController.selected.idpessoa}" title="Código pessoa" required="true" requiredMessage="O código é de preenchimento obrigatório"/>
                        <p:outputLabel value="#{bundle.EditFuncionariosLabel_dtadmissao}" for="dtadmissao" />
                        <p:calendar id="dtadmissao" pattern="MM/dd/yyyy HH:mm:ss" value="#{funcionariosController.selected.dtadmissao}" title="Data de admissão"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFuncionariosLabel_cargo}" for="cargo" />
                        <p:inputText id="cargo" value="#{funcionariosController.selected.cargo}" title="Cargo" />
                        <p:outputLabel value="#{bundle.EditFuncionariosLabel_pessoas}" for="pessoas" />
                        <p:selectOneMenu id="pessoas" value="#{funcionariosController.selected.pessoas}" required="true" requiredMessage="O campo pessoas é de seleção obrigatória!">
                            <f:selectItem itemLabel="Selecione"/>
                            <f:selectItems value="#{pessoasController.itemsAvailableSelectOne}"
                                           var="pessoasItem"
                                           itemValue="#{pessoasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{funcionariosController.update}" value="Salvar" update="display,:FuncionariosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FuncionariosEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="FuncionariosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
