<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Funcionários"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="FuncionariosListForm">
                <p:panel header="#{bundle.ListFuncionariosTitle}">
                    <p:dataTable id="datalist" value="#{funcionariosController.items}" var="item"
                                 selectionMode="single" selection="#{funcionariosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idpessoa}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Código pessoa"/>
                            </f:facet>
                            <h:outputText value="#{item.idpessoa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Data de admissão"/>
                            </f:facet>
                            <h:outputText value="#{item.dtadmissao}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Cargo"/>
                            </f:facet>
                            <h:outputText value="#{item.cargo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Funcionários"/>
                            </f:facet>
                            <h:outputText value="#{item.pessoas}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="Adicionar" actionListener="#{funcionariosController.prepareCreate}" update=":FuncionariosCreateForm" oncomplete="PF('FuncionariosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="Visualizar" update=":FuncionariosViewForm" oncomplete="PF('FuncionariosViewDialog').show()" disabled="#{empty funcionariosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":FuncionariosEditForm" oncomplete="PF('FuncionariosEditDialog').show()" disabled="#{empty funcionariosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Excluir" actionListener="#{funcionariosController.destroy}" update=":growl,datalist" disabled="#{empty funcionariosController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
