<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FuncionariosViewDlg" widgetVar="FuncionariosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="Visualizar funcionário">
            <h:form id="FuncionariosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{funcionariosController.selected != null}">
                        <h:outputText value="Código pessoa"/>
                        <h:outputText value="#{funcionariosController.selected.idpessoa}" title="Código pessoa"/>
                        <h:outputText value="Data de admissão"/>
                        <h:outputText value="#{funcionariosController.selected.dtadmissao}" title="Data de admissão">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="Cargo"/>
                        <h:outputText value="#{funcionariosController.selected.cargo}" title="Cargo"/>
                        <h:outputText value="#{bundle.ViewFuncionariosLabel_pessoas}"/>
                        <h:outputText value="#{funcionariosController.selected.pessoas}" title="#{bundle.ViewFuncionariosTitle_pessoas}"/>
                    </p:panelGrid>
                    <p:commandButton value="Fechar" onclick="FuncionariosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
