<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VendasEditDlg" widgetVar="VendasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Editar Venda">
            <h:form id="VendasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vendasController.selected != null}">
                        <p:outputLabel value="Código Venda" for="idvenda" />
                        <p:inputText id="idvenda" value="#{vendasController.selected.idvenda}" title="#{bundle.EditVendasTitle_idvenda}" required="true" requiredMessage="#{bundle.EditVendasRequiredMessage_idvenda}"/>
                        <p:outputLabel value="Data" for="data" />
                        <p:calendar id="data" pattern="MM/dd/yyyy HH:mm:ss" value="#{vendasController.selected.data}" title="#{bundle.EditVendasTitle_data}"  showOn="button"/>
                        <p:outputLabel value="Valor total" for="valortotal" />
                        <p:inputText id="valortotal" value="#{vendasController.selected.valortotal}" title="#{bundle.EditVendasTitle_valortotal}" />
                        <p:outputLabel value="Cliente" for="idpessoa" />
                        <p:selectOneMenu id="idpessoa" value="#{vendasController.selected.idpessoa}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{pessoasController.itemsAvailableSelectOne}"
                                           var="idpessoaItem"
                                           itemValue="#{idpessoaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vendasController.update}" value="Salvar" update="display,:VendasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VendasEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="VendasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
