<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Vendas"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="VendasListForm">
                <p:panel header="Vendas">
                    <p:dataTable id="datalist" value="#{vendasController.items}" var="item"
                                 selectionMode="single" selection="#{vendasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idvenda}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Codigo Venda"/>
                            </f:facet>
                            <h:outputText value="#{item.idvenda}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Data"/>
                            </f:facet>
                            <h:outputText value="#{item.data}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Valor total"/>
                            </f:facet>
                            <h:outputText value="#{item.valortotal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Cliente"/>
                            </f:facet>
                            <h:outputText value="#{item.idpessoa}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="Gerar nova Venda" actionListener="#{vendasController.prepareCreate}" update=":VendasCreateForm" oncomplete="PF('VendasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="Visualizar Venda" update=":VendasViewForm" oncomplete="PF('VendasViewDialog').show()" disabled="#{empty vendasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar Venda" update=":VendasEditForm" oncomplete="PF('VendasEditDialog').show()" disabled="#{empty vendasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Excluir Venda" actionListener="#{vendasController.destroy}" update=":growl,datalist" disabled="#{empty vendasController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
