<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VendasViewDlg" widgetVar="VendasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="Visualizar Venda">
            <h:form id="VendasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vendasController.selected != null}">
                        <h:outputText value="Código Venda"/>
                        <h:outputText value="#{vendasController.selected.idvenda}" title="#{bundle.ViewVendasTitle_idvenda}"/>
                        <h:outputText value="Data"/>
                        <h:outputText value="#{vendasController.selected.data}" title="#{bundle.ViewVendasTitle_data}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="Valor total"/>
                        <h:outputText value="#{vendasController.selected.valortotal}" title="#{bundle.ViewVendasTitle_valortotal}"/>
                        <h:outputText value="Cliente"/>
                        <h:outputText value="#{vendasController.selected.idpessoa}" title="#{bundle.ViewVendasTitle_idpessoa}"/>
                    </p:panelGrid>
                    <p:commandButton value="Fechar" onclick="VendasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
