<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosCreateDlg" widgetVar="UsuariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="Criar usuário">
            <h:form id="UsuariosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <p:outputLabel value="Login" for="login" />
                        <p:inputText id="login" value="#{usuariosController.selected.login}" title="Login" required="true" requiredMessage="O Login é de preenchimento obrigatório!"/>
                        <p:outputLabel value="Senha" for="senha"/>
                        <p:inputText id="senha" value="#{usuariosController.selected.senha}" title="Senha" />
                        <p:outputLabel value="Código do usuário" for="idpessoa" />
                        <p:selectOneMenu id="idpessoa" value="#{usuariosController.selected.idpessoa}" >
                            <f:selectItems value="#{pessoasController.itemsAvailableSelectOne}"
                                           var="idpessoaItem"
                                           itemValue="#{idpessoaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.create}" value="Salvar" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuariosCreateDialog');"/>
                    <p:commandButton value="Cancelar" onclick="UsuariosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
