<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosEditDlg" widgetVar="UsuariosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Editar usuário">
            <h:form id="UsuariosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <p:outputLabel value="Login" for="login" />
                        <p:inputText id="login" value="#{usuariosController.selected.login}" title="#{bundle.EditUsuariosTitle_login}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_login}"/>
                        <p:outputLabel value="Senha" for="senha" />
                        <p:inputText id="senha" value="#{usuariosController.selected.senha}" title="#{bundle.EditUsuariosTitle_senha}" />
                        <p:outputLabel value="Código do usuário" for="idpessoa" />
                        <p:selectOneMenu id="idpessoa" value="#{usuariosController.selected.idpessoa}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{pessoasController.itemsAvailableSelectOne}"
                                           var="idpessoaItem"
                                           itemValue="#{idpessoaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.update}" value="Salvar" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsuariosEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="UsuariosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
