<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosViewDlg" widgetVar="UsuariosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsuariosTitle}">
            <h:form id="UsuariosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsuariosLabel_login}"/>
                        <h:outputText value="#{usuariosController.selected.login}" title="#{bundle.ViewUsuariosTitle_login}"/>
                        <h:outputText value="#{bundle.ViewUsuariosLabel_senha}"/>
                        <h:outputText value="#{usuariosController.selected.senha}" title="#{bundle.ViewUsuariosTitle_senha}"/>
                        <h:outputText value="Código"/>
                        <h:outputText value="#{usuariosController.selected.idpessoa}" title="#{bundle.ViewUsuariosTitle_idpessoa}"/>
                    </p:panelGrid>
                    <p:commandButton value="Fechar" onclick="UsuariosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
