<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TurmasEditDlg" widgetVar="TurmasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Editar turma">
            <h:form id="TurmasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{turmasController.selected != null}">
                        <p:outputLabel value="Código da turma" for="idturma" />
                        <p:inputText id="idturma" value="#{turmasController.selected.idturma}" title="Código da turma" required="true" requiredMessage="#{bundle.EditTurmasRequiredMessage_idturma}"/>
                        <p:outputLabel value="#{bundle.EditTurmasLabel_capacidade}" for="capacidade" />
                        <p:inputText id="capacidade" value="#{turmasController.selected.capacidade}" title="Capacidade" />
                        <p:outputLabel value="#{bundle.EditTurmasLabel_datafim}" for="datafim" />
                        <p:calendar id="datafim" pattern="MM/dd/yyyy HH:mm:ss" value="#{turmasController.selected.datafim}" title="Data final"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditTurmasLabel_datainicio}" for="datainicio" />
                        <p:calendar id="datainicio" pattern="MM/dd/yyyy HH:mm:ss" value="#{turmasController.selected.datainicio}" title="Data de início"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditTurmasLabel_tema}" for="tema" />
                        <p:inputText id="tema" value="#{turmasController.selected.tema}" title="Tema" />
                        <p:outputLabel value="#{bundle.EditTurmasLabel_idcurso}" for="idcurso" />
                        <p:selectOneMenu id="idcurso" value="#{turmasController.selected.idcurso}" >
                            <f:selectItem itemLabel="Selecione um curso"/>
                            <f:selectItems value="#{cursosController.itemsAvailableSelectOne}"
                                           var="idcursoItem"
                                           itemValue="#{idcursoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{turmasController.update}" value="Salvar" update="display,:TurmasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TurmasEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="TurmasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
