<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Turmas"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="TurmasListForm">
                <p:panel header="Turmas">
                    <p:dataTable id="datalist" value="#{turmasController.items}" var="item"
                                 selectionMode="single" selection="#{turmasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idturma}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Código"/>
                            </f:facet>
                            <h:outputText value="#{item.idturma}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Capacidade"/>
                            </f:facet>
                            <h:outputText value="#{item.capacidade}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Data final"/>
                            </f:facet>
                            <h:outputText value="#{item.datafim}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Data de início"/>
                            </f:facet>
                            <h:outputText value="#{item.datainicio}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Tema"/>
                            </f:facet>
                            <h:outputText value="#{item.tema}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Código do curso"/>
                            </f:facet>
                            <h:outputText value="#{item.idcurso}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="Adicionar" actionListener="#{turmasController.prepareCreate}" update=":TurmasCreateForm" oncomplete="PF('TurmasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="Visualizar" update=":TurmasViewForm" oncomplete="PF('TurmasViewDialog').show()" disabled="#{empty turmasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":TurmasEditForm" oncomplete="PF('TurmasEditDialog').show()" disabled="#{empty turmasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Excluir" actionListener="#{turmasController.destroy}" update=":growl,datalist" disabled="#{empty turmasController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
