<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TurmasViewDlg" widgetVar="TurmasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="Visualizar turma">
            <h:form id="TurmasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{turmasController.selected != null}">
                        <h:outputText value="#{bundle.ViewTurmasLabel_idturma}"/>
                        <h:outputText value="#{turmasController.selected.idturma}" title="Código"/>
                        <h:outputText value="#{bundle.ViewTurmasLabel_capacidade}"/>
                        <h:outputText value="#{turmasController.selected.capacidade}" title="Capacidade"/>
                        <h:outputText value="#{bundle.ViewTurmasLabel_datafim}"/>
                        <h:outputText value="#{turmasController.selected.datafim}" title="Data final">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewTurmasLabel_datainicio}"/>
                        <h:outputText value="#{turmasController.selected.datainicio}" title="Data de início">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="Tema"/>
                        <h:outputText value="#{turmasController.selected.tema}" title="Tema"/>
                        <h:outputText value="Código do curso"/>
                        <h:outputText value="#{turmasController.selected.idcurso}" title="Código do curso"/>
                    </p:panelGrid>
                    <p:commandButton value="Fechar" onclick="TurmasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
