<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProfessoresEditDlg" widgetVar="ProfessoresEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProfessoresTitle}">
            <h:form id="ProfessoresEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{professoresController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProfessoresLabel_idpessoa}" for="idpessoa" />
                        <p:inputText id="idpessoa" value="#{professoresController.selected.idpessoa}" title="#{bundle.EditProfessoresTitle_idpessoa}" required="true" requiredMessage="#{bundle.EditProfessoresRequiredMessage_idpessoa}"/>
                        <p:outputLabel value="#{bundle.EditProfessoresLabel_formacao}" for="formacao" />
                        <p:inputText id="formacao" value="#{professoresController.selected.formacao}" title="#{bundle.EditProfessoresTitle_formacao}" />
                        <p:outputLabel value="#{bundle.EditProfessoresLabel_pessoas}" for="pessoas" />
                        <p:selectOneMenu id="pessoas" value="#{professoresController.selected.pessoas}" required="true" requiredMessage="#{bundle.EditProfessoresRequiredMessage_pessoas}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{pessoasController.itemsAvailableSelectOne}"
                                           var="pessoasItem"
                                           itemValue="#{pessoasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{professoresController.update}" value="#{bundle.Save}" update="display,:ProfessoresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProfessoresEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProfessoresEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
