<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProfessoresViewDlg" widgetVar="ProfessoresViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProfessoresTitle}">
            <h:form id="ProfessoresViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{professoresController.selected != null}">
                        <h:outputText value="#{bundle.ViewProfessoresLabel_idpessoa}"/>
                        <h:outputText value="#{professoresController.selected.idpessoa}" title="#{bundle.ViewProfessoresTitle_idpessoa}"/>
                        <h:outputText value="#{bundle.ViewProfessoresLabel_formacao}"/>
                        <h:outputText value="#{professoresController.selected.formacao}" title="#{bundle.ViewProfessoresTitle_formacao}"/>
                        <h:outputText value="#{bundle.ViewProfessoresLabel_pessoas}"/>
                        <h:outputText value="#{professoresController.selected.pessoas}" title="#{bundle.ViewProfessoresTitle_pessoas}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProfessoresViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
