<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CursosCreateDlg" widgetVar="CursosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCursosTitle}">
            <h:form id="CursosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cursosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCursosLabel_idcurso}" for="idcurso" />
                        <p:inputText id="idcurso" value="#{cursosController.selected.idcurso}" title="#{bundle.CreateCursosTitle_idcurso}" required="true" requiredMessage="#{bundle.CreateCursosRequiredMessage_idcurso}"/>
                        <p:outputLabel value="#{bundle.CreateCursosLabel_descricao}" for="descricao" />
                        <p:inputText id="descricao" value="#{cursosController.selected.descricao}" title="#{bundle.CreateCursosTitle_descricao}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cursosController.create}" value="#{bundle.Save}" update="display,:CursosListForm:datalist,:growl" oncomplete="handleSubmit(args,'CursosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CursosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
