<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CursosEditDlg" widgetVar="CursosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCursosTitle}">
            <h:form id="CursosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cursosController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCursosLabel_idcurso}" for="idcurso" />
                        <p:inputText id="idcurso" value="#{cursosController.selected.idcurso}" title="#{bundle.EditCursosTitle_idcurso}" required="true" requiredMessage="#{bundle.EditCursosRequiredMessage_idcurso}"/>
                        <p:outputLabel value="#{bundle.EditCursosLabel_descricao}" for="descricao" />
                        <p:inputText id="descricao" value="#{cursosController.selected.descricao}" title="#{bundle.EditCursosTitle_descricao}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cursosController.update}" value="#{bundle.Save}" update="display,:CursosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CursosEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CursosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
