<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DeficienciasCreateDlg" widgetVar="DeficienciasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDeficienciasTitle}">
            <h:form id="DeficienciasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{deficienciasController.selected != null}">
                        <p:outputLabel value="Código" for="iddeficencia" />
                        <p:inputText id="iddeficencia" value="#{deficienciasController.selected.iddeficencia}" title="#{bundle.CreateDeficienciasTitle_iddeficencia}" required="true" requiredMessage="#{bundle.CreateDeficienciasRequiredMessage_iddeficencia}"/>
                        <p:outputLabel value="Descrição" for="descricao" />
                        <p:inputText id="descricao" value="#{deficienciasController.selected.descricao}" title="#{bundle.CreateDeficienciasTitle_descricao}" />
                        <p:outputLabel value="Grau" for="grau" />
                        <p:inputText id="grau" value="#{deficienciasController.selected.grau}" title="#{bundle.CreateDeficienciasTitle_grau}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="Salvar" value="#{bundle.Save}" update="display,:DeficienciasListForm:datalist,:growl" oncomplete="handleSubmit(args,'DeficienciasCreateDialog');"/>
                    <p:commandButton value="Cancelar" onclick="DeficienciasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
