<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DeficienciasEditDlg" widgetVar="DeficienciasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDeficienciasTitle}">
            <h:form id="DeficienciasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{deficienciasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditDeficienciasLabel_iddeficencia}" for="iddeficencia" />
                        <p:inputText id="iddeficencia" value="#{deficienciasController.selected.iddeficencia}" title="#{bundle.EditDeficienciasTitle_iddeficencia}" required="true" requiredMessage="#{bundle.EditDeficienciasRequiredMessage_iddeficencia}"/>
                        <p:outputLabel value="#{bundle.EditDeficienciasLabel_descricao}" for="descricao" />
                        <p:inputText id="descricao" value="#{deficienciasController.selected.descricao}" title="#{bundle.EditDeficienciasTitle_descricao}" />
                        <p:outputLabel value="#{bundle.EditDeficienciasLabel_grau}" for="grau" />
                        <p:inputText id="grau" value="#{deficienciasController.selected.grau}" title="#{bundle.EditDeficienciasTitle_grau}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{deficienciasController.update}" value="#{bundle.Save}" update="display,:DeficienciasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DeficienciasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DeficienciasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
