<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DeficienciasViewDlg" widgetVar="DeficienciasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDeficienciasTitle}">
            <h:form id="DeficienciasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{deficienciasController.selected != null}">
                        <h:outputText value="#{bundle.ViewDeficienciasLabel_iddeficencia}"/>
                        <h:outputText value="#{deficienciasController.selected.iddeficencia}" title="#{bundle.ViewDeficienciasTitle_iddeficencia}"/>
                        <h:outputText value="#{bundle.ViewDeficienciasLabel_descricao}"/>
                        <h:outputText value="#{deficienciasController.selected.descricao}" title="#{bundle.ViewDeficienciasTitle_descricao}"/>
                        <h:outputText value="#{bundle.ViewDeficienciasLabel_grau}"/>
                        <h:outputText value="#{deficienciasController.selected.grau}" title="#{bundle.ViewDeficienciasTitle_grau}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DeficienciasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
