<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProdutosEditDlg" widgetVar="ProdutosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProdutosTitle}">
            <h:form id="ProdutosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{produtosController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProdutosLabel_iditem}" for="iditem" />
                        <p:inputText id="iditem" value="#{produtosController.selected.iditem}" title="#{bundle.EditProdutosTitle_iditem}" required="true" requiredMessage="#{bundle.EditProdutosRequiredMessage_iditem}"/>
                        <p:outputLabel value="#{bundle.EditProdutosLabel_quantidade}" for="quantidade" />
                        <p:inputText id="quantidade" value="#{produtosController.selected.quantidade}" title="#{bundle.EditProdutosTitle_quantidade}" />
                        <p:outputLabel value="#{bundle.EditProdutosLabel_local}" for="local" />
                        <p:inputText id="local" value="#{produtosController.selected.local}" title="#{bundle.EditProdutosTitle_local}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{produtosController.update}" value="#{bundle.Save}" update="display,:ProdutosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProdutosEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProdutosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
