<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProdutosViewDlg" widgetVar="ProdutosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProdutosTitle}">
            <h:form id="ProdutosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{produtosController.selected != null}">
                        <h:outputText value="#{bundle.ViewProdutosLabel_iditem}"/>
                        <h:outputText value="#{produtosController.selected.iditem}" title="#{bundle.ViewProdutosTitle_iditem}"/>
                        <h:outputText value="#{bundle.ViewProdutosLabel_quantidade}"/>
                        <h:outputText value="#{produtosController.selected.quantidade}" title="#{bundle.ViewProdutosTitle_quantidade}"/>
                        <h:outputText value="#{bundle.ViewProdutosLabel_local}"/>
                        <h:outputText value="#{produtosController.selected.local}" title="#{bundle.ViewProdutosTitle_local}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProdutosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
