<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlunosEditDlg" widgetVar="AlunosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Editar Venda">
            <h:form id="AlunosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{alunosController.selected != null}">
                        <p:outputLabel value="Código" for="idpessoa" />
                        <p:inputText id="idpessoa" value="#{alunosController.selected.idpessoa}" title="#{bundle.EditAlunosTitle_idpessoa}" required="true" requiredMessage="#{bundle.EditAlunosRequiredMessage_idpessoa}"/>
                        <p:outputLabel value="Forma de pagamento" for="fpagamento" />
                        <p:inputText id="fpagamento" value="#{alunosController.selected.fpagamento}" title="#{bundle.EditAlunosTitle_fpagamento}" />
                        <p:outputLabel value="Pessoa" for="pessoas" />
                        <p:selectOneMenu id="pessoas" value="#{alunosController.selected.pessoas}" required="true" requiredMessage="#{bundle.EditAlunosRequiredMessage_pessoas}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{pessoasController.itemsAvailableSelectOne}"
                                           var="pessoasItem"
                                           itemValue="#{pessoasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{alunosController.update}" value="Salvar" update="display,:AlunosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AlunosEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="AlunosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
