<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Cadastro de alunos"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AlunosListForm">
                <p:panel header="Alunos">
                    <p:dataTable id="datalist" value="#{alunosController.items}" var="item"
                                 selectionMode="single" selection="#{alunosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idpessoa}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Código"/>
                            </f:facet>
                            <h:outputText value="#{item.idpessoa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Forma de pagamento"/>
                            </f:facet>
                            <h:outputText value="#{item.fpagamento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Pessoa"/>
                            </f:facet>
                            <h:outputText value="#{item.pessoas}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="Cadastrar novo" actionListener="#{alunosController.prepareCreate}" update=":AlunosCreateForm" oncomplete="PF('AlunosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="Visualizar" update=":AlunosViewForm" oncomplete="PF('AlunosViewDialog').show()" disabled="#{empty alunosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":AlunosEditForm" oncomplete="PF('AlunosEditDialog').show()" disabled="#{empty alunosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Excluir" actionListener="#{alunosController.destroy}" update=":growl,datalist" disabled="#{empty alunosController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
