<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlunosViewDlg" widgetVar="AlunosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAlunosTitle}">
            <h:form id="AlunosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{alunosController.selected != null}">
                        <h:outputText value="Código"/>
                        <h:outputText value="#{alunosController.selected.idpessoa}" title="#{bundle.ViewAlunosTitle_idpessoa}"/>
                        <h:outputText value="Forma de pagamento"/>
                        <h:outputText value="#{alunosController.selected.fpagamento}" title="#{bundle.ViewAlunosTitle_fpagamento}"/>
                        <h:outputText value="Pessoa"/>
                        <h:outputText value="#{alunosController.selected.pessoas}" title="#{bundle.ViewAlunosTitle_pessoas}"/>
                    </p:panelGrid>
                    <p:commandButton value="Fechar" onclick="AlunosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
