<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Sistema administrativo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <title>Interdisciplinar</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet name='css/login.css'/>

      
    </h:head>
  
    <h:body>
      <div style="display:none;">
            Interdisciplinar 2018
        <br />
        <h:link outcome="/view/alunos/List" value="Alunos"/>
        <br />
        <h:link outcome="/view/cursos/List" value="Cursos"/>
        <br />
        <h:link outcome="/view/deficiencias/List" value="Deficiencias"/>
        <br />
        <h:link outcome="/view/funcionarios/List" value="Funcionários"/>
        <br />
        <h:link outcome="/view/pessoas/List" value="Pessoas"/>
        <br />
        <h:link outcome="/view/produtos/List" value="Produtos"/>
        <br />
        <h:link outcome="/view/professores/List" value="Professores"/>
        <br />
        <h:link outcome="/view/turmas/List" value="Turmas"/>
        <br />
        <h:link outcome="/view/usuarios/List" value="Usuarios"/>
        <br />
        <h:link outcome="/view/vendas/List" value="Vendas"/>
        
    </div>
        
         <div class="login-form">

        <form action="" method="post">
            <h2 class="text-center">Administração</h2>       
            <div class="form-group">
                <h:inputText id="login"  value="#{usuarios.login}"></h:inputText>
                
            </div>
            <div class="form-group">
                <h:inputText id="senha" value="#{usuarios.senha}"></h:inputText>
                <!--<p:inputText type="password" class="form-control" placeholder="Senha" value="#usuarios.senha" required="required"/>-->
            </div>
            <div class="form-group">
                <!--<button type="submit" class="btn btn-primary btn-block" action="{usuarios.enviar">Login</button>-->
               <h:commandButton action="#{usuarios.validateLoginPassword}"
			value="Login"></h:commandButton>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"/>
            </div>        
        </form>
        <p class="text-center"><a href="#/usuarios/view">Criar conta</a></p>

    </div>
        
    </h:body>

</html>

