<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="Home" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="Cadastros">
                            <p:menuitem value="Alunos" outcome="/view/alunos/List.xhtml" />
                            <p:menuitem value="Cursos" outcome="/view/cursos/List.xhtml" />
                            <p:menuitem value="Deficiencias" outcome="/view/deficiencias/List.xhtml" />
                            <p:menuitem value="Funcionarios" outcome="/view/funcionarios/List.xhtml" />
                            <p:menuitem value="Pessoas" outcome="/view/pessoas/List.xhtml" />
                            <p:menuitem value="Produtos" outcome="/view/produtos/List.xhtml" />
                            <p:menuitem value="Professores" outcome="/view/professores/List.xhtml" />
                            <p:menuitem value="Turmas" outcome="/view/turmas/List.xhtml" />
                            <p:menuitem value="Usuarios" outcome="/view/usuarios/List.xhtml" />
                        </p:submenu>
                         <p:submenu label="Operações">
                            <p:menuitem value="Vendas" outcome="/view/vendas/List.xhtml" />
                        </p:submenu>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
